
## Downloading

  | ARCH  | OS          | LINK                                                                                                                               |   |   |
  |-------|-------------|------------------------------------------------------------------------------------------------------------------------------------|---|---|
  | AMD64 | AMAZONLINUX | https://aws-opentelemetry-collector-release.s3.amazonaws.com/amazon_linux/amd64/__VERSION__/aws-opentelemetry-collector.rpm |   |   |
  | ARM64 | AMAZONLINUX | https://aws-opentelemetry-collector-release.s3.amazonaws.com/amazon_linux/arm64/__VERSION__/aws-opentelemetry-collector.rpm |   |   |

## Docker
  
  docker pull josephwy/awscollector:__VERSION__


